@keyframes entrada1 {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes entrada2 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.title_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h1 {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 4em;
    font-family: DM Sans, sans-serif;
    padding: 20px 0px 0px 0px;
    animation: entrada2 1.2s ease-out;
}

.dress {
    font-family: 'Libre Baskerville', serif;
    color: rgb(0, 0, 0);
    padding: 3px 0px 3px 1px;
    /*background: linear-gradient(45deg, #56127e, #cc8d46, #3d82a1);
    background-size: 100% 3px;         ---(TEMA ANTIGO)---
    border-radius: 30px 5px 30px 5px;*/
    animation: entrada1 1.2s ease-out;
}

.mini_text {
    display:flex;
    justify-content: center;
    font-family: DM Sans, sans-serif;
    font-size: 1.2em;
    padding: 0px 0px 0px 0px;
    animation: entrada2 1s ease-out forwards;
}

.login_title {
    display: flex;
    justify-content: center;
    font-family: DM Sans, sans-serif;
    font-size: 2em;
    color: #2d4256;
    animation: entrada2 1s ease-out forwards;
}

.write {
    display: flex;
    flex-direction: column;
    font-family: DM Sans, sans-serif;
    font-size: 1.5em;
    padding: 0px 370px 30px 370px;
    animation: entrada2 1s ease-out forwards;
    
}

#email, #password, #username {
    display: flex;
    justify-content: center;
    justify-self: center;
    padding: 10px;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    font-size: 1em;
    font-family: DM Sans, sans-serif;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    padding: 0px 0px 40px 0px;
}
.submit_button {
    font-family: DM Sans, sans-serif;
    font-size: 1.7em;
    background: linear-gradient(45deg, #56127e, #cc8d46);
    color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 15px;
    cursor: pointer;
    justify-content: center;
    justify-self: center;
    animation: entrada2 1s ease-out forwards;
}

.signup {
    font-family: DM Sans, sans-serif;
    font-size: 1.5em;
    background: linear-gradient(45deg, #c5ac90, #7f9ba7);
    color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 15px;
    cursor: pointer;
    justify-content: center;
    justify-self: center;
    animation: entrada2 1s ease-out forwards;
    text-decoration: none;
}